name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Lnative=src"

jobs:
  ci:
    name: CI
    runs-on: windows-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Build
        run: cargo build --verbose --release

      - name: Upload specific DLL
        uses: actions/upload-artifact@v4
        with:
          name: hutao_minhook_ng.dll
          path: target/release/hutao_minhook_ng.dll
          retention-days: 30
          if-no-files-found: error
